<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.98971616920-vnma4ip5947a41ilh8blv259otu6pl25</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Exo2-Thin</string>
		<string>Exo2-SemiBold.ttf</string>
		<string>Exo2-Regular.ttf</string>
		<string>Exo2-Bold.ttf</string>
	</array>
</dict>
</plist>
